{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <div class="profile-section">

     <!-- Popup Question -->
     <div required id="myModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <h4>Answer the question below authenticate yourself to the user</h4>
          <h5>Question: What is your favourite colour?</h5>
          <input type="text" placeholder="Enter answer here">
          <br>
          <input type="submit">
      </div>
    </div>
    <!-- Profile Image -->
    <div class="profile-info">
        <div class="profile-circle">
          <button class="profile-btn">
            <img src="static/img/profile_picture.svg" alt="Profile Picture" class="profile-pic">
          </button>
        </div>
        <div class="profile-details">
            <h2>Username</h2>
            <p>Followers: <span id="follower-count">123</span></p>
            <!-- Button to open the modal -->
            <button id="openModalBtn">Follow Request</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}
