{% extends 'layouts/main.html' %}
{% block title %}Notification{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Notifications</h1>
</div>
<table id="notificationsTable" class="table">
  <thead>
      <tr>
          <th>Notification</th>
          <th>Accept</th>
          <th>Deny</th>
      </tr>
  </thead>
  <tbody>
      {% for request in follow_requests %}
      <tr>
          <td>
            <h5>Incoming notification from {{ request.followerusername }}</h5>
            <p style="margin: 0; padding: 0;">Question: {{ request.question }}</p>
            <p>Answer: {{ request.answer }}</p>
          </td>
          <td>
            <form action="{{ url_for('accept_request', followerusername=request.followerusername) }}" method="post">
              <button class="btn btn-success accept-btn" type="submit">Accept</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for('deny_request', followerusername=request.followerusername) }}" method="post">
              <button class="btn btn-danger deny-btn" type="submit">Deny</button>
            </form>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
